
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="col-md-6 col-sm-6 col-xs-12" align="center">
    <div class="container">
        <a class="navbar-brand">SAWERA</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/registration">Registration</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
        </ul>
    </div>
</div>
</nav>

<router-outlet></router-outlet>
